@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }
