@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.header {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background: #FFF;
  box-shadow: 0 7px 12px -6px grey; }
  .header .header-logo .logo-link {
    color: #F6AF44;
    font-family: 'Acme', sans-serif;
    font-size: 60px; }
    .header .header-logo .logo-link:hover .fa-cat {
      animation: spin 400ms; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .header .search {
    display: flex;
    align-items: center; }
    .header .search .search-input {
      display: flex;
      align-items: center;
      width: 350px;
      margin-right: 15px; }
      .header .search .search-input .search-btn {
        width: 40px;
        height: 50px;
        cursor: pointer;
        border: transparent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        .header .search .search-input .search-btn:hover,
        .header .search .search-input .search-btn:hover .fa-search {
          background: gray; }
        .header .search .search-input .search-btn .fa-search {
          text-align: center;
          background: #EBEBEB; }
      .header .search .search-input .header-search {
        position: relative;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        border: 2px solid #EBEBEB;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none; }
        .header .search .search-input .header-search:focus {
          border: 2px solid blue; }
        .header .search .search-input .header-search::placeholder {
          color: gray;
          font-size: 21px; }
  .header .fa-microphone,
  .header .fa-bell {
    cursor: pointer;
    color: #EBEBEB;
    font-size: 40px; }
    .header .fa-microphone:hover,
    .header .fa-bell:hover {
      color: gray; }
  .header .header-info {
    display: flex;
    align-items: center; }
  .header .header-login {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 50px;
    background: #F6AF44; }
    .header .header-login:hover {
      background: #EBEBEB; }
    .header .header-login .fa-paw {
      line-height: 50px; }
  .header .dropdown {
    position: relative;
    display: inline-block; }
  .header .dropdown-content {
    position: absolute;
    z-index: 1;
    right: 0;
    display: none;
    min-width: 160px;
    border-radius: 5px;
    background-color: #F1F1F1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .header .dropdown-content .dropdown-link {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #DDD;
    font-family: 'Aclonica', sans-serif; }
    .header .dropdown-content .dropdown-link .fas {
      margin-right: 15px; }
    .header .dropdown-content .dropdown-link:last-child {
      color: red; }
  .header .dropdown-content .dropdown-link:hover {
    background-color: #DDD; }
  .header .dropdown:hover .dropdown-content {
    display: block; }

@media screen and (max-width: 1200px) {
  .header .header-logo .logo-link {
    font-size: 45px; } }

@media screen and (max-width: 900px) {
  .header .fa-microphone,
  .header .fa-bell {
    font-size: 30px; }
  .header .header-login {
    width: 40px;
    height: 40px; }
    .header .header-login .fa-paw {
      line-height: 40px; }
  .header .search .search-input {
    width: auto; }
    .header .search .search-input .header-search {
      width: auto; } }
