@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.page-video {
  display: grid;
  align-items: center;
  padding: 50px 0;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px; }
  .page-video .page-video-cart {
    display: flex;
    flex-direction: column;
    min-width: 350px; }
    .page-video .page-video-cart .page-video-image {
      position: relative;
      height: 270px; }
      .page-video .page-video-cart .page-video-image:hover .page-play {
        z-index: 2; }
      .page-video .page-video-cart .page-video-image img {
        width: 100%;
        height: 100%; }
      .page-video .page-video-cart .page-video-image .page-play {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        background: rgba(0, 0, 0, 0.5); }
        .page-video .page-video-cart .page-video-image .page-play .fa-paw {
          cursor: pointer;
          color: #FFF;
          font-size: 24px; }
      .page-video .page-video-cart .page-video-image .page-video-live {
        position: absolute;
        z-index: 4;
        top: 5px;
        left: 5px;
        display: block;
        width: 50px;
        height: 22px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        border-radius: 5px;
        background: red;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px;
        font-weight: 100; }
      .page-video .page-video-cart .page-video-image .page-video-followers {
        position: absolute;
        z-index: 4;
        right: 5px;
        bottom: 10px;
        display: block;
        padding: 2px 8px;
        cursor: pointer;
        text-align: center;
        color: #FFF;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.4);
        font-family: 'Aclonica', sans-serif;
        font-size: 16px;
        line-height: 22px; }
    .page-video .page-video-cart .page-video-info {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 10px; }
      .page-video .page-video-cart .page-video-info img {
        height: 100%; }
      .page-video .page-video-cart .page-video-info .page-video-body {
        flex-grow: 1;
        margin-left: 20px; }
        .page-video .page-video-cart .page-video-info .page-video-body .page-video-title {
          cursor: pointer;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 16px; }
          .page-video .page-video-cart .page-video-info .page-video-body .page-video-title:hover {
            color: blue; }
        .page-video .page-video-cart .page-video-info .page-video-body .page-video-text {
          cursor: pointer;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 12px; }
          .page-video .page-video-cart .page-video-info .page-video-body .page-video-text:hover {
            color: blue; }
      .page-video .page-video-cart .page-video-info .page-video-btn {
        position: relative;
        width: 5px;
        height: 5px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background: #191919; }
        .page-video .page-video-cart .page-video-info .page-video-btn::before {
          position: absolute;
          top: -10px;
          left: 0;
          display: block;
          width: 5px;
          height: 5px;
          content: '';
          cursor: pointer;
          border-radius: 50px;
          background: #191919; }
        .page-video .page-video-cart .page-video-info .page-video-btn::after {
          position: absolute;
          bottom: -10px;
          left: 0;
          display: block;
          width: 5px;
          height: 5px;
          content: '';
          cursor: pointer;
          border-radius: 50px;
          background: #191919; }
