@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.primary-page {
  overflow: hidden;
  padding: 110px 50px 50px 400px; }
  .primary-page .nav-menu {
    padding: 10px 0; }
    .primary-page .nav-menu ul {
      display: flex;
      overflow-x: scroll;
      align-items: center;
      scrollbar-width: none; }
      .primary-page .nav-menu ul::-webkit-scrollbar {
        display: none; }
      .primary-page .nav-menu ul .page-nav-list {
        margin-right: 15px;
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid #DDD;
        border-radius: 50px;
        background: #EDEDED; }
        .primary-page .nav-menu ul .page-nav-list:hover {
          background: #DDD; }
        .primary-page .nav-menu ul .page-nav-list:first-child {
          border: none;
          background: #F6AF44; }
        .primary-page .nav-menu ul .page-nav-list .page-nav-link {
          white-space: nowrap;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 16px; }
        .primary-page .nav-menu ul .page-nav-list .color-white {
          color: #FFF; }
  .primary-page .primary-page-title {
    text-align: center;
    color: #191919;
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    font-weight: 300; }
    .primary-page .primary-page-title::selection {
      color: #FFF;
      background: #F6AF44; }
    .primary-page .primary-page-title .fa-youtube {
      color: #191919; }

@media screen and (max-width: 1200px) {
  .primary-page {
    padding-left: 200px; } }
