.carousel {
  position: relative;
  overflow: hidden;
  max-width: 850px;
  height: 400px;
  margin: 50px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.slide {
  position: absolute;
  z-index: 1;
  display: flex;
  float: right;
  width: 100%;
  height: 400px;
  transition: opacity 0.4s;
  text-align: center;
  opacity: 1;
  background-color: #EEE; }
  .slide .block-img {
    position: relative; }
    .slide .block-img:hover .carousel-play {
      display: flex; }
  .slide img {
    width: 100%;
    height: 100%; }
  .slide .carousel-play {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.6); }
    .slide .carousel-play .fa-paw {
      cursor: pointer;
      color: #FFF;
      font-size: 30px; }
  .slide .slider-block {
    width: 250px;
    height: 100%;
    padding: 20px;
    background: #EBEBEB; }
    .slide .slider-block .slider-block-user {
      display: flex;
      align-items: center; }
      .slide .slider-block .slider-block-user .slider-cat {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        padding: 4px;
        border-radius: 50px;
        background: #FFF; }
        .slide .slider-block .slider-block-user .slider-cat img {
          width: 100%; }
      .slide .slider-block .slider-block-user .slider-cat-text {
        text-align: left;
        color: #191919;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px; }
        .slide .slider-block .slider-block-user .slider-cat-text .cat-text-say {
          cursor: pointer;
          white-space: nowrap;
          color: #191919; }
          .slide .slider-block .slider-block-user .slider-cat-text .cat-text-say:hover {
            color: blue; }
        .slide .slider-block .slider-block-user .slider-cat-text .cat-text-name {
          cursor: pointer;
          font-size: 12px; }
          .slide .slider-block .slider-block-user .slider-cat-text .cat-text-name:hover {
            color: blue; }
    .slide .slider-block .slider-cat-phrase {
      margin-top: 15px;
      text-align: left;
      font-family: "Acme", sans-serif;
      font-size: 16px; }
      .slide .slider-block .slider-cat-phrase::selection {
        color: #FFF;
        background: #F6AF44; }

.faux-ui-facia {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  float: right;
  width: 250px;
  height: 285px;
  margin-top: 0;
  cursor: pointer;
  opacity: 0; }
  .faux-ui-facia:checked {
    z-index: 8; }
    .faux-ui-facia:checked + .slide {
      opacity: 0; }
    .faux-ui-facia:checked:nth-child(1):checked {
      z-index: 9; }
  .faux-ui-facia:nth-child(1):checked {
    z-index: 9;
    float: left; }
    .faux-ui-facia:nth-child(1):checked + .slide {
      opacity: 1; }
    .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
      z-index: 8;
      float: left; }
      .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
        opacity: 0; }
      .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
        z-index: 9; }
        .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
          opacity: 1; }
