* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

main {
  display: flex; }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.header {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background: #FFF;
  box-shadow: 0 7px 12px -6px grey; }
  .header .header-logo .logo-link {
    color: #F6AF44;
    font-family: 'Acme', sans-serif;
    font-size: 60px; }
    .header .header-logo .logo-link:hover .fa-cat {
      animation: spin 400ms; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .header .search {
    display: flex;
    align-items: center; }
    .header .search .search-input {
      display: flex;
      align-items: center;
      width: 350px;
      margin-right: 15px; }
      .header .search .search-input .search-btn {
        width: 40px;
        height: 50px;
        cursor: pointer;
        border: transparent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        .header .search .search-input .search-btn:hover,
        .header .search .search-input .search-btn:hover .fa-search {
          background: gray; }
        .header .search .search-input .search-btn .fa-search {
          text-align: center;
          background: #EBEBEB; }
      .header .search .search-input .header-search {
        position: relative;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        border: 2px solid #EBEBEB;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none; }
        .header .search .search-input .header-search:focus {
          border: 2px solid blue; }
        .header .search .search-input .header-search::placeholder {
          color: gray;
          font-size: 21px; }
  .header .fa-microphone,
  .header .fa-bell {
    cursor: pointer;
    color: #EBEBEB;
    font-size: 40px; }
    .header .fa-microphone:hover,
    .header .fa-bell:hover {
      color: gray; }
  .header .header-info {
    display: flex;
    align-items: center; }
  .header .header-login {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 50px;
    background: #F6AF44; }
    .header .header-login:hover {
      background: #EBEBEB; }
    .header .header-login .fa-paw {
      line-height: 50px; }
  .header .dropdown {
    position: relative;
    display: inline-block; }
  .header .dropdown-content {
    position: absolute;
    z-index: 1;
    right: 0;
    display: none;
    min-width: 160px;
    border-radius: 5px;
    background-color: #F1F1F1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .header .dropdown-content .dropdown-link {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #DDD;
    font-family: 'Aclonica', sans-serif; }
    .header .dropdown-content .dropdown-link .fas {
      margin-right: 15px; }
    .header .dropdown-content .dropdown-link:last-child {
      color: red; }
  .header .dropdown-content .dropdown-link:hover {
    background-color: #DDD; }
  .header .dropdown:hover .dropdown-content {
    display: block; }

@media screen and (max-width: 1200px) {
  .header .header-logo .logo-link {
    font-size: 45px; } }

@media screen and (max-width: 900px) {
  .header .fa-microphone,
  .header .fa-bell {
    font-size: 30px; }
  .header .header-login {
    width: 40px;
    height: 40px; }
    .header .header-login .fa-paw {
      line-height: 40px; }
  .header .search .search-input {
    width: auto; }
    .header .search .search-input .header-search {
      width: auto; } }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.users-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  padding-top: 110px;
  background: #EBEBEB; }
  .users-block .user-block-cart {
    overflow-y: scroll;
    height: 100%;
    border-bottom: 2px solid #FFF;
    scrollbar-width: none; }
    .users-block .user-block-cart::-webkit-scrollbar {
      display: none; }
    .users-block .user-block-cart .user-cat-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 50px;
      cursor: pointer; }
      .users-block .user-block-cart .user-cat-list:hover {
        background: #DDD; }
      .users-block .user-block-cart .user-cat-list .cat-list-name {
        display: flex;
        align-items: center; }
      .users-block .user-block-cart .user-cat-list .user-cat {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        padding: 4px;
        border-radius: 50px;
        background: #FFF; }
      .users-block .user-block-cart .user-cat-list p {
        flex-grow: 1;
        color: #191919;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px; }
        .users-block .user-block-cart .user-cat-list p:hover {
          color: blue; }
      .users-block .user-block-cart .user-cat-list .user-cat-followers {
        display: flex;
        align-items: center; }
        .users-block .user-block-cart .user-cat-list .user-cat-followers .pulse {
          display: block;
          width: 7px;
          height: 7px;
          margin-right: 10px;
          animation: pulse-red 4s infinite;
          border-radius: 50px;
          background: #ff5252;
          box-shadow: 0 0 0 0 #ff5252; }

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0); } }
        .users-block .user-block-cart .user-cat-list .user-cat-followers .user-followers-text {
          text-transform: uppercase;
          color: #191919;
          font-family: 'Aclonica', sans-serif; }
  .users-block .user-social {
    align-items: flex-end;
    padding: 15px 0;
    border: 20px solid #EBEBEB;
    background: #DFDFDF; }
    .users-block .user-social h5 {
      text-align: center;
      color: #191919;
      font-family: 'Acme', sans-serif;
      font-size: 28px; }
      .users-block .user-social h5::selection {
        color: #FFF;
        background: #F6AF44; }
    .users-block .user-social ul {
      display: flex;
      justify-content: center;
      margin-top: 15px; }
      .users-block .user-social ul .user-social-list {
        margin: 0 15px; }
        .users-block .user-social ul .user-social-list a {
          color: #191919;
          font-size: 24px; }
          .users-block .user-social ul .user-social-list a:hover {
            color: #00A2FF; }

@media screen and (max-width: 1200px) {
  .users-block {
    width: auto; }
    .users-block .user-block-cart .user-cat-list .user-cat {
      margin-right: 0; }
    .users-block .user-block-cart .user-cat-list p {
      display: none; }
    .users-block .user-block-cart .user-cat-list .user-cat-followers {
      display: none; }
    .users-block .user-social {
      display: none; } }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.primary-page {
  overflow: hidden;
  padding: 110px 50px 50px 400px; }
  .primary-page .nav-menu {
    padding: 10px 0; }
    .primary-page .nav-menu ul {
      display: flex;
      overflow-x: scroll;
      align-items: center;
      scrollbar-width: none; }
      .primary-page .nav-menu ul::-webkit-scrollbar {
        display: none; }
      .primary-page .nav-menu ul .page-nav-list {
        margin-right: 15px;
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid #DDD;
        border-radius: 50px;
        background: #EDEDED; }
        .primary-page .nav-menu ul .page-nav-list:hover {
          background: #DDD; }
        .primary-page .nav-menu ul .page-nav-list:first-child {
          border: none;
          background: #F6AF44; }
        .primary-page .nav-menu ul .page-nav-list .page-nav-link {
          white-space: nowrap;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 16px; }
        .primary-page .nav-menu ul .page-nav-list .color-white {
          color: #FFF; }
  .primary-page .primary-page-title {
    text-align: center;
    color: #191919;
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    font-weight: 300; }
    .primary-page .primary-page-title::selection {
      color: #FFF;
      background: #F6AF44; }
    .primary-page .primary-page-title .fa-youtube {
      color: #191919; }

@media screen and (max-width: 1200px) {
  .primary-page {
    padding-left: 200px; } }

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 850px;
  height: 400px;
  margin: 50px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.slide {
  position: absolute;
  z-index: 1;
  display: flex;
  float: right;
  width: 100%;
  height: 400px;
  transition: opacity 0.4s;
  text-align: center;
  opacity: 1;
  background-color: #EEE; }
  .slide .block-img {
    position: relative; }
    .slide .block-img:hover .carousel-play {
      display: flex; }
  .slide img {
    width: 100%;
    height: 100%; }
  .slide .carousel-play {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.6); }
    .slide .carousel-play .fa-paw {
      cursor: pointer;
      color: #FFF;
      font-size: 30px; }
  .slide .slider-block {
    width: 250px;
    height: 100%;
    padding: 20px;
    background: #EBEBEB; }
    .slide .slider-block .slider-block-user {
      display: flex;
      align-items: center; }
      .slide .slider-block .slider-block-user .slider-cat {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        padding: 4px;
        border-radius: 50px;
        background: #FFF; }
        .slide .slider-block .slider-block-user .slider-cat img {
          width: 100%; }
      .slide .slider-block .slider-block-user .slider-cat-text {
        text-align: left;
        color: #191919;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px; }
        .slide .slider-block .slider-block-user .slider-cat-text .cat-text-say {
          cursor: pointer;
          white-space: nowrap;
          color: #191919; }
          .slide .slider-block .slider-block-user .slider-cat-text .cat-text-say:hover {
            color: blue; }
        .slide .slider-block .slider-block-user .slider-cat-text .cat-text-name {
          cursor: pointer;
          font-size: 12px; }
          .slide .slider-block .slider-block-user .slider-cat-text .cat-text-name:hover {
            color: blue; }
    .slide .slider-block .slider-cat-phrase {
      margin-top: 15px;
      text-align: left;
      font-family: "Acme", sans-serif;
      font-size: 16px; }
      .slide .slider-block .slider-cat-phrase::selection {
        color: #FFF;
        background: #F6AF44; }

.faux-ui-facia {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  float: right;
  width: 250px;
  height: 285px;
  margin-top: 0;
  cursor: pointer;
  opacity: 0; }
  .faux-ui-facia:checked {
    z-index: 8; }
    .faux-ui-facia:checked + .slide {
      opacity: 0; }
    .faux-ui-facia:checked:nth-child(1):checked {
      z-index: 9; }
  .faux-ui-facia:nth-child(1):checked {
    z-index: 9;
    float: left; }
    .faux-ui-facia:nth-child(1):checked + .slide {
      opacity: 1; }
    .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
      z-index: 8;
      float: left; }
      .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
        opacity: 0; }
      .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
        z-index: 9; }
        .faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
          opacity: 1; }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.page-video {
  display: grid;
  align-items: center;
  padding: 50px 0;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px; }
  .page-video .page-video-cart {
    display: flex;
    flex-direction: column;
    min-width: 350px; }
    .page-video .page-video-cart .page-video-image {
      position: relative;
      height: 270px; }
      .page-video .page-video-cart .page-video-image:hover .page-play {
        z-index: 2; }
      .page-video .page-video-cart .page-video-image img {
        width: 100%;
        height: 100%; }
      .page-video .page-video-cart .page-video-image .page-play {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        background: rgba(0, 0, 0, 0.5); }
        .page-video .page-video-cart .page-video-image .page-play .fa-paw {
          cursor: pointer;
          color: #FFF;
          font-size: 24px; }
      .page-video .page-video-cart .page-video-image .page-video-live {
        position: absolute;
        z-index: 4;
        top: 5px;
        left: 5px;
        display: block;
        width: 50px;
        height: 22px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        border-radius: 5px;
        background: red;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px;
        font-weight: 100; }
      .page-video .page-video-cart .page-video-image .page-video-followers {
        position: absolute;
        z-index: 4;
        right: 5px;
        bottom: 10px;
        display: block;
        padding: 2px 8px;
        cursor: pointer;
        text-align: center;
        color: #FFF;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.4);
        font-family: 'Aclonica', sans-serif;
        font-size: 16px;
        line-height: 22px; }
    .page-video .page-video-cart .page-video-info {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 10px; }
      .page-video .page-video-cart .page-video-info img {
        height: 100%; }
      .page-video .page-video-cart .page-video-info .page-video-body {
        flex-grow: 1;
        margin-left: 20px; }
        .page-video .page-video-cart .page-video-info .page-video-body .page-video-title {
          cursor: pointer;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 16px; }
          .page-video .page-video-cart .page-video-info .page-video-body .page-video-title:hover {
            color: blue; }
        .page-video .page-video-cart .page-video-info .page-video-body .page-video-text {
          cursor: pointer;
          color: #191919;
          font-family: 'Aclonica', sans-serif;
          font-size: 12px; }
          .page-video .page-video-cart .page-video-info .page-video-body .page-video-text:hover {
            color: blue; }
      .page-video .page-video-cart .page-video-info .page-video-btn {
        position: relative;
        width: 5px;
        height: 5px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background: #191919; }
        .page-video .page-video-cart .page-video-info .page-video-btn::before {
          position: absolute;
          top: -10px;
          left: 0;
          display: block;
          width: 5px;
          height: 5px;
          content: '';
          cursor: pointer;
          border-radius: 50px;
          background: #191919; }
        .page-video .page-video-cart .page-video-info .page-video-btn::after {
          position: absolute;
          bottom: -10px;
          left: 0;
          display: block;
          width: 5px;
          height: 5px;
          content: '';
          cursor: pointer;
          border-radius: 50px;
          background: #191919; }
