@font-face {
  font-family: 'Acme';
  src: url("../fonts/AcmeFont/acme-regular-webfont.woff") format("woff"), url("../fonts/AcmeFont/acme-regular-webfont.woff2") format("woff2"), url("../fonts/AcmeFont/acme-regular-webfont.ttf") format("ttf"), url("../fonts/AcmeFont/acme-regular-webfont.eot") format("eot"), url("../fonts/AcmeFont/acme-regular-webfont.svg") format("svg"); }

@font-face {
  font-family: 'Aclonica';
  src: url("../fonts/AclonicaFont/Aclonica-Regular.ttf") format("ttf"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff") format("woff"), url("../fonts/AclonicaFont/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/AclonicaFont/aclonica-regular-webfont.eot") format("eot"), url("../fonts/AclonicaFont/aclonica-regular-webfont.svg") format("svg"); }

.users-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  padding-top: 110px;
  background: #EBEBEB; }
  .users-block .user-block-cart {
    overflow-y: scroll;
    height: 100%;
    border-bottom: 2px solid #FFF;
    scrollbar-width: none; }
    .users-block .user-block-cart::-webkit-scrollbar {
      display: none; }
    .users-block .user-block-cart .user-cat-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 50px;
      cursor: pointer; }
      .users-block .user-block-cart .user-cat-list:hover {
        background: #DDD; }
      .users-block .user-block-cart .user-cat-list .cat-list-name {
        display: flex;
        align-items: center; }
      .users-block .user-block-cart .user-cat-list .user-cat {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        padding: 4px;
        border-radius: 50px;
        background: #FFF; }
      .users-block .user-block-cart .user-cat-list p {
        flex-grow: 1;
        color: #191919;
        font-family: 'Aclonica', sans-serif;
        font-size: 16px; }
        .users-block .user-block-cart .user-cat-list p:hover {
          color: blue; }
      .users-block .user-block-cart .user-cat-list .user-cat-followers {
        display: flex;
        align-items: center; }
        .users-block .user-block-cart .user-cat-list .user-cat-followers .pulse {
          display: block;
          width: 7px;
          height: 7px;
          margin-right: 10px;
          animation: pulse-red 4s infinite;
          border-radius: 50px;
          background: #ff5252;
          box-shadow: 0 0 0 0 #ff5252; }

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0); } }
        .users-block .user-block-cart .user-cat-list .user-cat-followers .user-followers-text {
          text-transform: uppercase;
          color: #191919;
          font-family: 'Aclonica', sans-serif; }
  .users-block .user-social {
    align-items: flex-end;
    padding: 15px 0;
    border: 20px solid #EBEBEB;
    background: #DFDFDF; }
    .users-block .user-social h5 {
      text-align: center;
      color: #191919;
      font-family: 'Acme', sans-serif;
      font-size: 28px; }
      .users-block .user-social h5::selection {
        color: #FFF;
        background: #F6AF44; }
    .users-block .user-social ul {
      display: flex;
      justify-content: center;
      margin-top: 15px; }
      .users-block .user-social ul .user-social-list {
        margin: 0 15px; }
        .users-block .user-social ul .user-social-list a {
          color: #191919;
          font-size: 24px; }
          .users-block .user-social ul .user-social-list a:hover {
            color: #00A2FF; }

@media screen and (max-width: 1200px) {
  .users-block {
    width: auto; }
    .users-block .user-block-cart .user-cat-list .user-cat {
      margin-right: 0; }
    .users-block .user-block-cart .user-cat-list p {
      display: none; }
    .users-block .user-block-cart .user-cat-list .user-cat-followers {
      display: none; }
    .users-block .user-social {
      display: none; } }
