@import "font-family";

.header {
	position: fixed;
	z-index: 5;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	padding: 10px 50px;

	background: #FFF;
	box-shadow: 0 7px 12px -6px grey;

	.header-logo {
		.logo-link {
			color: #F6AF44;

			font-family: 'Acme', sans-serif;
			font-size: 60px;

			&:hover .fa-cat {
				animation: spin 400ms;
			}

			.fa-cat {
				@keyframes spin {
					from {
						transform: rotate(0deg);
					}

					to {
						transform: rotate(360deg);
					}
				}
			}
		}
	}

	.search {
		display: flex;
		align-items: center;

		.search-input {
			display: flex;
			align-items: center;

			width: 350px;
			margin-right: 15px;

			.search-btn {
				width: 40px;
				height: 50px;

				cursor: pointer;

				border: transparent;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				&:hover,
				&:hover .fa-search {
					background: gray;
				}

				.fa-search {
					text-align: center;

					background: #EBEBEB;
				}
			}

			.header-search {
				position: relative;

				width: 100%;
				height: 50px;
				padding-left: 10px;

				border: 2px solid #EBEBEB;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				outline: none;

				&:focus {
					border: 2px solid blue;
				}

				&::placeholder {
					color: gray;

					font-size: 21px;
				}
			}
		}
	}

	.fa-microphone,
	.fa-bell {
		cursor: pointer;

		color: #EBEBEB;

		font-size: 40px;

		&:hover {
			color: gray;
		}
	}

	.header-info {
		display: flex;
		align-items: center;
	}

	.header-login {
		display: inline-block;

		width: 50px;
		height: 50px;
		margin-left: 30px;

		cursor: pointer;
		text-align: center;

		border: none;
		border-radius: 50px;
		background: #F6AF44;

		&:hover {
			background: #EBEBEB;
		}

		.fa-paw {
			line-height: 50px;
		}
	}

	.dropdown {
		position: relative;

		display: inline-block;
	}

	.dropdown-content {
		position: absolute;
		z-index: 1;
		right: 0;

		display: none;

		min-width: 160px;

		border-radius: 5px;
		background-color: #F1F1F1;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.dropdown-content .dropdown-link {
		display: block;

		padding: 12px 16px;

		text-decoration: none;

		color: black;
		border-bottom: 1px solid #DDD;

		font-family: 'Aclonica', sans-serif;

		.fas {
			margin-right: 15px;
		}

		&:last-child {
			color: red;
		}
	}

	.dropdown-content .dropdown-link:hover { background-color: #DDD; }

	.dropdown:hover .dropdown-content { display: block; }
}

@media screen and (max-width: 1200px) {
	.header {
		.header-logo {
			.logo-link {
				font-size: 45px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.header {
		.fa-microphone,
		.fa-bell {
			font-size: 30px;
		}

		.header-login {
			width: 40px;
			height: 40px;

			.fa-paw {
				line-height: 40px;
			}
		}

		.search {
			.search-input {
				width: auto;

				.header-search {
					width: auto;
				}
			}
		}
	}
}
