@import "font-family";

.primary-page {
	overflow: hidden;

	padding: 110px 50px 50px 400px;

	.nav-menu {
		padding: 10px 0;

		ul {
			display: flex;
			overflow-x: scroll;
			align-items: center;

			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.page-nav-list {
				margin-right: 15px;
				padding: 8px 20px;

				cursor: pointer;

				border: 2px solid #DDD;
				border-radius: 50px;
				background: #EDEDED;

				&:hover {
					background: #DDD;
				}

				&:first-child {
					border: none;
					background: #F6AF44;
				}

				.page-nav-link {
					white-space: nowrap;

					color: #191919;

					font-family: 'Aclonica', sans-serif;
					font-size: 16px;
				}

				.color-white {
					color: #FFF;
				}
			}
		}
	}

	.primary-page-title {
		text-align: center;

		color: #191919;

		font-family: 'Aclonica', sans-serif;
		font-size: 16px;
		font-weight: 300;

		&::selection {
			color: #FFF;
			background: #F6AF44;
		}

		.fa-youtube {
			color: #191919;
		}
	}
}

@media screen and (max-width: 1200px) {
	.primary-page {
		padding-left: 200px;
	}
}
