* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

main {
	display: flex;
}

@import "header";
@import "users-block";
@import "primary-page";
@import "slider";
@import "page-video";
