@import "font-family";

.users-block {
	position: fixed;

	display: flex;
	flex-direction: column;

	width: 350px;
	height: 100vh;
	padding-top: 110px;

	background: #EBEBEB;

	.user-block-cart {
		overflow-y: scroll;

		height: 100%;

		border-bottom: 2px solid #FFF;

		scrollbar-width: none;
        
		&::-webkit-scrollbar {
			display: none;
		}

        

		.user-cat-list {
			display: flex;
			align-items: center;
			justify-content: space-between;

			padding: 10px 50px;

			cursor: pointer;

			&:hover {
				background: #DDD;
			}

			.cat-list-name {
				display: flex;
				align-items: center;
			}

			.user-cat {
				display: block;

				width: 50px;
				height: 50px;
				margin-right: 10px;
				padding: 4px;

				border-radius: 50px;
				background: #FFF;
			}

			p {
				flex-grow: 1;

				color: #191919;

				font-family: 'Aclonica', sans-serif;
				font-size: 16px;

				&:hover {
					color: blue;
				}
			}

			.user-cat-followers {
				display: flex;
				align-items: center;

				.pulse {
					display: block;

					width: 7px;
					height: 7px;
					margin-right: 10px;

					animation: pulse-red 4s infinite;

					border-radius: 50px;
					background: rgba(255, 82, 82, 1);
					box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
				}

				@keyframes pulse-red {
					0% {
						transform: scale(0.95);

						box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
					}

					70% {
						transform: scale(1);

						box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
					}

					100% {
						transform: scale(0.95);

						box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
					}
				}

				.user-followers-text {
					text-transform: uppercase;

					color: #191919;

					font-family: 'Aclonica', sans-serif;
				}
			}
		}
	}

	.user-social {
		align-items: flex-end;

		padding: 15px 0;

		border: 20px solid #EBEBEB;
		background: #DFDFDF;

		h5 {
			text-align: center;

			color: #191919;

			font-family: 'Acme', sans-serif;
			font-size: 28px;

			&::selection {
				color: #FFF;
				background: #F6AF44;
			}
		}

		ul {
			display: flex;
			justify-content: center;

			margin-top: 15px;

			.user-social-list {
				margin: 0 15px;

				a {
					color: #191919;

					font-size: 24px;

					&:hover {
						color: #00A2FF;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.users-block {
		width: auto;

		.user-block-cart {
			.user-cat-list {
				.user-cat {
					margin-right: 0;
				}

				p {
					display: none;
				}

				.user-cat-followers {
					display: none;
				}
			}
		}

		.user-social {
			display: none;
		}
	}
}
